@charset 'utf-8';

@import url(reset.css);

.mobil {
    display: none;
}





/* header✨ */

header {
    height: 100px;
    /* line-height: 100px; */
}

header .inner {

    height: 100%;

    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
    /* 높이값 꼭 주기 */
}

header .inner .pc .gnb .depth01 {
    display: inline-block;
    position: relative;
}

header .inner .pc .gnb .depth01>a {
    padding: 0 30px;
    line-height: 100px;
    /* 이미지 사용시에도 a태그에 직접 line-height 값 지정하기 */

    display: block;
    /* a태그 인라인 요소로 block처리  */
}

header .inner .pc .gnb .depth01 .depth02 {
    width: 100%;

    background-color: white;

    position: absolute;
    top: 100px;
    left: 0;

    text-align: center;
    line-height: 40px;
    /* 또는 padding으로 위아래 간격 맞추기, hover와 연관*/

    display: none;
}

header .inner .pc .gnb .depth01 .depth02 li {
    padding: 10px 0;

    
}


.main_visual{
    height: 100vh;
}

.main_visual img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}






@media screen and (max-width:1024px) {
    .pc {
        display: none;
    }

    .mobil {
        display: block;
    }

    .mobil_gnb {
        width: 80%;
        height: 100vh;

        margin: 0 auto;

        position: fixed;
        top: 0;
        right: 0;

        background-color: antiquewhite;

        text-align: center;

        margin-top: 20px;

    }

    .mobil_gnb .depth01 {
        width: 400px;

        margin: 0 auto;

        background-color: rgb(188, 156, 96);

        border-radius: 10px;

        text-align: center;

        margin-bottom: 10px;

    }

    .mobil_gnb .depth01>a {
        height: 30px;
        line-height: 30px;

        display: block; 
    }

    .mobil_gnb .depth01 .depth02 {
        display: none;
        border-radius: 0 0 10px 10px;

        overflow: hidden;
    }

    .mobil_gnb .depth01 .depth02 li {
        padding: 10px 0;

        background-color: aliceblue;
  
    }

}